
.portrait {
    height: 150px;
}
.aboutBanner {
    height: 300px;
}
.teamInfo {
    display: flex;
    flex-direction: row;
}
.dataDisplay {
    width: 500px;
    margin: auto;

}
.staffMember {
    margin: 15px;
}